footer {
    background-color: #f0f0f0; /* Светлосив фон */
    padding: 20px 0;
    font-size: 14px;
    color: #333;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; /* Позволява на секциите да се преместват на нов ред при малки екрани */
}

.footer-section {
    width: 20%; /* Около 1/5 от ширината на контейнера */
    margin-bottom: 0px;
}

.footer-section p {
    text-decoration: none;
    padding: 2px 0px;
}

.footer-button {
    display: inline-block; /* Прави връзките блокови елементи, но в един ред */
    padding: 5px 2px; /* Добавя отстояние вътре в бутона */
    background-color: #f0f0f0;
    color: black;
    text-decoration: none; /* Премахва подчертаването */
    border-radius: 5px; /* Закръгля ъглите */
    border: none; /* Премахва стандартната рамка */
    font-size: 14px; /* Размер на шрифта */
    cursor: pointer; /* Променя курсора при ховър */
    transition: background-color 0.3s ease; /* Анимация при ховър */
}

.footer-button:hover {
    background-color: #548edc; /* По-тъмен син при ховър */
    color: white;
}

.footer-section {
    text-align: left; /* Центрира бутоните в контейнера */
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.step {
    text-decoration: none;
    color: black;
}

/* Адаптивен дизайн за малки екрани */
@media (max-width: 768px) {
    .footer-section {
        width: 45%; /* По-голяма ширина за по-малко секции на ред */
    }
}

@media (max-width: 480px) {
    .footer-section {
        width: 100%; /* Всяка секция на нов ред */
    }
}
