.footer {
    background: white;
    color: black;
    text-align: left;
    padding: 5px 25px;
    position: relative;
    bottom: 0;
    width: auto;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 5px;
}

.footer-link {
    color: linear-gradient(135deg, #3079d8, #892c82); /* Синьо-лилав градиент */
    text-decoration: none;
    transition: color 0.3s;
}

.footer-link:hover {
    color: linear-gradient(135deg, #3079d8, #892c82); /* Синьо-лилав градиент */
    font-weight: bold;
}
