/* Универсални стилизации */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Хедър */
header {
    width: 100%;
    background: white;
    border-bottom: 0px solid #ddd;
    position: relative; /* За да работи absolute позиционирането на nav-links */
}

/* Центриране на съдържанието */
.header-container {
    width: 100%; /* Или 90% за по-добра адаптивност */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Лого */
.logo img {
    height: 110px;
    width: auto;
    transform: scale(1.25);
    /* padding-left: 20px; */
}

.logo_img {
    height: 40px;
    width: auto;
}

.logo_text {
    height: 20px;
    width: auto;
    transform: scale(0.1);
}

/* Навигация */
nav {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative; /* За да позволим абсолютно позициониране */
}

.nav-links,
.nav-auth {
    list-style: none;
    display: flex;
    gap: 30px;
}

/* Центриране на навигационните линкове в средата на страницата */
.nav-links {
    position: absolute;
    left: 50%;
    transform: translateX(-66%); /* Центрира спрямо средата на страницата */
    display: flex;
    gap: 80px;
}

.nav-auth {
    display: flex;
    margin-left: auto; /* Избутва елементите вдясно */
    margin-right: 25px; /* Избутва елементите вдясно */
    /* left: -1em; */
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #548edc;
    /* color: #333; */
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    /* background-color: #548edc; */
    /* color: white; */
    color: #548edc;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 10px;
    transition: background-color 0.3s ease; /* Анимация при ховър */
}

/* Отстраняване на хоризонталното скролиране */
body {
    overflow-x: hidden;
}

.profile-logo {
    width: 40px; /* Можеш да намалиш още, ако е нужно */
    height: 40px;
    border-radius: 50%; /* За кръгла форма */
    object-fit: cover; /* Запазва правилните пропорции */
}

.profile-logo:hover {
    width: 40px; /* Можеш да намалиш още, ако е нужно */
    height: 40px;
    border-radius: 50%; /* За кръгла форма */
    object-fit: cover; /* Запазва правилните пропорции */
}
