/* Основни стилове за хедъра */
header {
    background: linear-gradient(135deg, #6a11cb, #2575fc); /* Синьо-лилав градиент */
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

/* .logo a:hover {
    color: white;
} */

.logo img {
    height: 120px; /* Променя височината на логото (можеш да настроиш по твое усмотрение) */
    width: auto; /* Запазва съотношението на страните на изображението */
}

/* Стилове за навигацията */
nav {
    flex-grow: 1;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-links li {
    font-size: 18px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    font-weight: bold;
}

/* Стилове за търсенето */
.search {
    display: flex;
    gap: 10px;
}

.search input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 30px;
    width: 200px;
}

.search button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search button:hover {
    background-color: #0d0a39;
}
