.hero {
    text-align: center;
    padding: 100px 20px;
    /* background: linear-gradient(135deg, #3079d8, #892c82); */
    background: url('/images/Music-CV-homepage.jpg') no-repeat center center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрира по хоризонтала */
    justify-content: flex-start; /* Премества съдържанието нагоре */
    height: 50vh; /* Дава височина на секцията */
}

.hero h1 {
    font-size: 55px;
    margin-top: 20px; /* Премества заглавието нагоре */
}

.hero-buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 200px;
    margin: 50px;
    text-decoration: none;
    background-color: #7582c7;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.btn.secondary {
    background-color: #4caf50;
}

.btn:hover {
    background-color: #3079d8;
}

.events,
.categories,
.how-it-works {
    text-align: center;
    padding: 50px 20px;
}

.event-list,
.category-list,
.steps {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.event-card,
.category,
.step {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.category {
    background: #ffcc00;
    color: black;
    font-weight: bold;
}
