.hero {
    text-align: center;
    padding: 100px 20px;
    /* background: linear-gradient(135deg, #3079d8, #892c82); */
    background: url('/images/sea-edge-79ab30e2.png') no-repeat center center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center; /* Центрира по хоризонтала */
    justify-content: flex-start; /* Премества съдържанието нагоре */
    min-height: 50vh;
    width: 100%;
}

.hero h1 {
    font-size: 55px;
    margin-top: 20px; /* Премества заглавието нагоре */
}

.hero p {
    margin-bottom: 20px;
}

.hero-buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 200px;
    margin: 50px;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.btn.secondary {
    background-color: #4caf50;
}

.btn:hover {
    background-color: #892c82;
}

.events,
.how-it-works {
    text-align: center;
    padding: 50px 20px;
}

.event-catalog {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto 0;
    padding: 20px;
}

.event-list,
.steps {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.event-card,
.step {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.event-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.event-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.event-info {
    padding: 15px;
}

.event-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.event-info p {
    font-size: 14px;
    color: #666;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.pagination button:hover:not(:disabled) {
    background-color: #548edc;
    color: white;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination button.active {
    /* background-color: #548edc; */
    color: black;
    border-color: #548edc;
}
