body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color: #bec3cf;
    background: url('/images/background-site.jpg') no-repeat center center/cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
    padding-bottom: 60px; /* Оставя място за футъра */
}
/* 
.home-page {
    padding: 5px 90px;
}

.dashboard-page {
    padding: 5px 90px;
}

.search-page {
    padding: 5px 90px;
}

.profile-page {
    padding: 5px 90px;
}

.login-page {
    padding: 5px 90px;
}

.register-page {
    padding: 5px 90px;
} */
