.profile-container {
    max-width: 900px;
    margin: 50px auto;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    display: flex;
    align-items: flex-start; /* Подравнява елементите по горния край */
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
    padding: 20px;
    background: #f1f5fc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
    height: 270px; /* Опитайте различни стойности */
}

.user-info h2 {
    font-size: 22px;
    margin-bottom: 5px;
    text-align: left;
}

.user-info p {
    font-size: 16px;
    color: #555;
    text-align: left;
}

.create-event-btn {
    background: #548edc;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    align-self: flex-start;
}

.create-event-btn:hover {
    background: #2456a1;
}

.next-event-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 15px;
}

.next-event-info {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.next-event-info h3 {
    font-size: 18px;
    margin-bottom: 12px;
    color: black;
}

.next-event-info p {
    font-size: 16px;
    color: #555;
}

.next-event {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.next-event:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.events-section {
    margin-top: 30px;
}

.events-section h3 {
    font-size: 20px;
    color: #3079d8;
    margin-bottom: 15px;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
}

.event-card {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #333;
    transition: transform 0.5s ease;
}

.event-card:hover {
    transform: translateY(-3px);
}
